{% extends 'layout.twig' %}
{% block body %}
  <div class="vertical-center">
    <form class="form-signin" method="post">
      <h1 class="h3 mb-3 font-weight-normal">SSO server sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3"></div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <a href="https://localhost:3002/certAuth?redirect_uri={{redirect_uri}}" onclick="certAuthClicked(event);">Certificate Authentication</a>
      <div id='certAuthErrorContainer'></div>
      <div id='loadingSpinnerContainer'></div>
    </form>
  </div>
  <script src="/javascripts/certAuth.js"></script>
{% endblock %}